body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("https://art.ngfiles.com/images/3113000/3113888_noobliss120_tpot-fan-bg.png?f1679617838");
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    margin: auto;
}
table {
    width: 100%;
}
td {
    margin: 10px;
}

table, td, th {
    border-collapse: collapse;
    text-align: center;
}

tbody tr:nth-child(odd) { background-color: #4f3ee4; color: white }
tbody tr:nth-child(even)  { background-color: #ffffff; }

