#bottomMessage {
    position: fixed;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 20px 36px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: Arial, sans-serif;
}

/* Fade-in */
#bottomMessage.showing {
    opacity: 1;
}

/* Fade-out */
#bottomMessage.hiding {
    opacity: 0;
}

html {
    background-image: url("https://img.itch.zone/aW1hZ2UvMTk0OTczOS8xMTQ2MzcyOS5qcGc=/original/L7Xh7l.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    color: #ffffff; /* Creepy yellow color */
    font-family: 'Creepster', cursive; /* A more eerie font */
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Adds a shadow for a creepy effect */
    margin: 0; /* Remove default margin */
    position: relative; /* Positioning for centering */
    top: 50%; /* Move closer to the middle */
    transform: translateY(-50%); /* Center it vertically */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px; /* Adds space between the two boxes */
}

.plu {
    background-color: #1a1a1a;
    color: #8b0000;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #8b0000;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(139, 0, 0, 0.6), inset 0 0 10px rgba(139, 0, 0, 0.3);
    text-shadow: 0 0 5px #8b0000;
}

.pluh {
    background-color: #1a1a1a;
    color: #8b0000;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #8b0000;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(139, 0, 0, 0.6), inset 0 0 10px rgba(139, 0, 0, 0.3);
    text-shadow: 0 0 5px #8b0000;
}

.plu:hover {
    transform: scale(1.1);
}
.pluh:hover {
    transform: scale(1.1);
}

.fah {
    background-color: #1a1a1a;
    color: #bdbdbd;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), inset 0 0 10px rgba(139, 0, 0, 0.3);
    text-shadow: 0 0 5px #ffffff;
}

.fah:hover {
    transform: scale(1.1);
}

.container {
    margin: auto;
}

.fah:active {
    background-color: #ff0000;
}

.plu:active {
    background-color: #919191;
}

.pluh:active {
    background-color: #919191;
}