#bottomMessage {
    position: fixed;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 20px 36px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: Arial, sans-serif;
}

/* Fade-in */
#bottomMessage.showing {
    opacity: 1;
}

/* Fade-out */
#bottomMessage.hiding {
    opacity: 0;
}

html {
    background-image: url("https://cdn.wallpapersafari.com/69/22/O0Y6jD.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px; /* Adds space between the two boxes */
}

.plu {
    background-color: #686868;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.pluh {
    background-color: #686868;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.plu:hover {
    transform: scale(1.1);
}
.pluh:hover {
    transform: scale(1.1);
}

.fah {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: #707070;
    font-family: Arial, Helvetica, sans-serif;
}

.fah:hover {
    transform: scale(1.1);
}

.container {
    margin: auto;
}