html {
    background-image: url(Road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif, cursive;
    background-color: rgb(0, 0, 0);
    text-align: center;
    
}