html {
    background-image: url('https://tse2.mm.bing.net/th/id/OIP.kQ0LDv6sz5VDOYYz1sIj9gHaEK?rs=1&pid=ImgDetMain&o=7&rm=3');
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif, cursive;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 50%;
}
button{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 24px;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
}